/**
* Please prefix your custom css-classes with your demo id to prevent interferences.
*/
.main-greeting{
  padding: 20px;
  padding-left: 100px;
  background-image: url(tidebox.png);
  background-repeat: no-repeat;
  background-position: 20px 20px;
}